div.letter {
    font-size: 100px;
    color: #333;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100%;
    margin-top: 100px;
}

div.row {
    margin-top: 50px; 
}