div.letter {
    font-size: 100px;
    color: #333;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100%;
    margin-top: 100px;
}

a {
    font-size: 60px;
}

h1 {
    font-size: 120px;
}

div.row {
    margin-top: 10px; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }